

.bottom {
    position: absolute;
    top: 50%;
    padding: 0px;
    left: 50%;
    width: 40%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: Roboto, Helvetica, cursive;
    font-size: 80px;
    color: black;
    opacity: 0.8;
    text-emphasis: bold;

    background-color: #fafafa;
  }
